

body {
    background-color: #444740;
    margin-top: 3.5vmin;    
}

@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/GreatVibes-Regular.ttf') format('truetype'); /* Use the relative path to your font file */
    font-weight: normal;
    font-style: normal;
}


.rolam{
    background-image: url(rolam.jpg);
    background-size: 100%;
    object-fit:cover; 
    padding: 35vmin;    
}

.assign1 {
    font-family: 'poppins';
    font-size: .8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px #000000;
    background-color: rgb(20, 54, 54);
    padding: 5px 10px 5px 10px;
}

.page {
    font-family: 'poppins';
    width: 90vmin;
    background-color: rgb(1, 46, 49);
    margin: 1% auto 1% auto;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
    box-shadow: 0px 0px 20px 0px #000;
    line-height: 1.4em;
    display: flex;
}

.left {
    width: 22%;
    background-color: (24 61 61);
    color: '#eee';
    padding: 1vmin;
}

.right {
    width: 78%;
    background-color: rgb(122 191 191);
    padding: 1vmin;
    color: #000;
}

.bigname {
    text-align: center;
    font-size: 3.5vmin;
    font-weight: 800;
    color: rgb(2 28 28);
}

.contact {
    text-align: center;
    font-size: 1vmin;
    margin-top: -3vmin;
    color: rgbrgb(2 28 28);
}

.innercontact {
    margin-top: -2vmin;
}

.hrtop {
    border-top: 3px solid rgb(55, 83, 83);
    margin-bottom: -2vmin;
}

.hrbottom {
    margin-top: -1.95vmin;
}

.row {
    text-align: left;
}

.title {
    background-color: rgb(81, 122, 122);
    padding: 5px;
    color: white;
    font-weight: 400;
}

.photo {
    background-image: url(pic1.jpg);
    background-size: 100%;
    object-fit: fill;
    width: 100%;
    height: 21.5vmin;
    color: rgb(1, 48, 48);
}

.photod {
    background-image: url(NOPIC1.jpg);
    background-size: 100%;
    object-fit: fill;
    width: 100%;
    height: 21.5vmin;
    color: rgb(1, 48, 48);
}

.section {
    font-size: 1.3vmin;
    text-align: left;
    line-height: 1.5vmin;
    color: rgb(2 28 28)
    font-weight: 400;
    padding: 5px;
}


.sectionleft {
    font-size: 1.3vmin;
    text-align: left;
    line-height: 1.5vmin;
    color: rgb(218, 218, 218);
    font-weight: 300;
}

h4 {
    background-color: rgb(81, 122, 122);
    padding: .25vmin;
    color: rgb(2 28 28);
    font-size: 1.4vmin;
    font-weight: 500;
}

h6 {
    color: rgb(226, 225, 225);
    font-weight: 500;
    text-align: center;
    font-size: 1vmin;
}

li {
    text-align: left; 
    margin-left: -1.25rem;
}

ul {
   margin-left: 0vmin;
   list-style-type: none;
   margin-left: -1.25rem;
}

.mode-select {
    margin-left: 61.7vmin;
    margin-top: 35vmin;
    position: absolute;
    rotate: 90deg;
    display: flex;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mode-select button {
    background-color: #014646;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
}

.mode-select button:first-child {
    background-color: #014646;
    border-top-left-radius: 10px;
}

.mode-select button:last-child {
    background-color: #014646;
    border-top-right-radius: 10px;
}

.mode-select button:hover {
    height: 2.5vmin;
    background-color: #b68e21;
}

.btntxt.active {
    background-color: #b68e21;
    /* Background when active */
    height: 2.5vmin;
    /* Height when active */
}

.mode-select button.active {
    background-color: #b68e21;
    /* Background when active */
    height: 2.5vmin;
    /* Height when active */
}

.btntxt {
    width: 20vmin;
    height: 2.5vmin;
    font-size: 1.1vmin;
    font-weight: 400;
    letter-spacing: .2vmin;
    align-content: center;
}


input {
    font-size: 1.2vmin;
    font-family: 'poppins';
    color: #ffffff;
    background: #538686;
    width: 17vmin;
    border-radius: 6px;    
}

button {
    font-size: 1.2vmin;
    font-family: 'poppins';
    color: rgb(226, 221, 221);
    font-weight: 500;
    background: #538686;
    border-radius: 4px;
}

textarea {
    font-size: 1.2vmin;
    font-family: 'poppins';
    color: rgb(226, 221, 221);
    background: #538686;
    width: 17vmin;
    border-radius: 6px;
}